@use '../../../styles/variables' as variables;

.booking-card{
    background-color: #FFF;
    border-radius: 1.5rem;
    position: relative;
    border: 1px solid #DDD;
    &:hover {
        box-shadow: 0 25px 50px rgba(45, 42, 30, 0.15);
        top: -2px;
    }
    &__image{
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
    }
    &__content{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__room-infos{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__room-name{
        font-size: 1.1rem;
        font-weight: 500;
        color: variables.$dark-brown-color;
    }
    &__hotel-name{
        font-size: 0.9rem;
        color: variables.$green-color;
    }
    &__button{
        background-color: variables.$green-color;
        border-radius: .625rem;
        padding: .5rem .75rem;
        color: #FFF;
        cursor: pointer;
        &--details{
            position: relative;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.05);
                top: -1px;    
            }
        }
    }
    &__body{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: .625rem;
        border-radius: .625rem;
        background-color: #f5f5ed;
    }
    &__date{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    &__subtitle{
        font-size: 1.15rem;
        color: variables.$light-brown-color;
    }
    &__text{
        font-size: 0.95rem;
        color: variables.$dark-brown-color;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__payment-info{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__price{
        font-size: 1.35rem;
        font-weight: 500;
        color: variables.$dark-brown-color;
    }
    &__payment-type{
        font-size: 0.9rem;
        color: variables.$green-color;
    }
}