@use '../../../styles/variables' as variables;

.credit-card {
    border: 1px solid variables.$light-brown-color;
    border-radius: 1.25rem;
    
    &__radio {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid variables.$light-brown-color;
    }

    &__infos {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__subtitle {
        font-size: 1.1rem;
    }

    &__text {
        font-size: 1rem;
    }

}