<div class="auth-form">
    <div class="auth-form__container xl:grid xl:grid-cols-5">
        <div class="auth-form__content xl:col-span-2 min-h-[100dvh]">
            <mat-icon class="auth-form__return auth-form__return--login auth-form__return--white" routerLink="/">west</mat-icon>
            <img class="auth-form__logo" src="../../../assets/img/logo-branca.png" alt="logo do site cor branco">
            <h2 class="auth-form__title">Esqueci minha senha</h2>
            <form class="auth-form__form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <input placeholder="Digite seu e-mail" type="text" class="auth-form__input" formControlName="email">
                <div class="auth-form__error" *ngIf="email.invalid && (email.touched || email.dirty)">
                    <span *ngIf="email.hasError('required')">Campo Requerido</span>
                    <span *ngIf="email.hasError('notFound')">Nenhum usuário foi encontrado</span>
                </div>
                <button class="auth-form__button">Enviar e-mail</button>
            </form>
            <span class="auth-form__error" *ngIf="forgotPasswordForm.hasError('serverError')">
                Um erro inesperado ocorreu. Tente novamente mais tarde.
            </span>
        </div>
        <div class="auth-form__image hidden xl:block xl:col-span-3 xl:h-[100dvh]">
            <mat-icon class="auth-form__return auth-form__return--register" routerLink="/">west</mat-icon>
            <img class="relative xl:top-[4rem] 2xl:top-0" src="../../../assets/img/logo-com-cor-sem-letras.png" alt="">
        </div>
    </div>
</div>