<div class="auth-form">
<div class="auth-form__conteiner grid grid-cols-5">
    <div class="auth-form__content col-span-2 min-h-[100dvh]">
        <img class="auth-form__logo" src="../../../assets/img/logo-branca.png" alt="logo do site cor branco">
        <h2 class="auth-form__title">Esqueci minha senha</h2>
        <form class="auth-form__form">
            <input placeholder="Digite seu e-mail" type="text" class="auth-form__input">
        </form>
        <button class="auth-form__button">Enviar e-mail</button>
    </div>
    <div class="auth-form__image col-span-3 h-[100dvh]">
        <mat-icon class="auth-form__return auth-form__return--register">west</mat-icon>
        <img src="../../../assets/img/logo-com-cor-sem-letras.png" alt="">
    </div>
</div>

</div>