<div class="room-filter">
    <form [formGroup]="roomFilterForm" (ngSubmit)="onSubmit()" class="room-filter__form">
        @if (showCityFilter) {
            <mat-form-field
                id="first"
                class="room-filter__input room-filter__input--first">
                <mat-label>Cidade</mat-label>
                <input matInput type="text" placeholder="Ex.: Gramado" formControlName="city">
            </mat-form-field>
        }
        <mat-form-field class="room-filter__input">
            <mat-label>Selecione as datas</mat-label>
            <mat-date-range-input [formGroup]="roomFilterForm" [rangePicker]="picker">
                <input matStartDate formControlName="checkIn" placeholder="Check In">
                <input matEndDate formControlName="checkOut" placeholder="Check Out">
            </mat-date-range-input>
            <mat-datepicker-toggle [disabled]="false" matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker [disabled]="false" #picker></mat-date-range-picker>
        </mat-form-field>
        <mat-form-field class="room-filter__input">
            <mat-label>Tipo de Quarto</mat-label>
            <mat-select formControlName="types" multiple>
                @for (type of roomTypes; track type) {
                    <mat-option [value]="type.value">{{ type.enum | roomType }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="room-filter__input">
            <mat-label>Qtde. de Hóspedes</mat-label>
            <input matInput type="number" formControlName="capacity">
        </mat-form-field>
        <button class="room-filter__button" matTooltip="Pesquisar"><mat-icon class="room-filter__icon">search</mat-icon></button>
    </form>
</div>