@use '../../../styles/variables' as variables;

.room-filter {
    display: flex;

    &__form {
        display: flex;
        align-items: center;
    }

    &__input {
        border-width: 3px 2px;
        border-style: solid;
        border-color: variables.$green-color;
        &--first {
            border-top-left-radius: 1.625rem;
            border-bottom-left-radius: 1.625rem;
        }
    }

    &__button {
        height: 100%;
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: .175rem;
        color: #fff;
        background-color: variables.$green-color;
        border-width: 3px 3px 3px 2px;
        border-style: solid;
        border-color: variables.$green-color;
        border-top-right-radius: 1.625rem;
        border-bottom-right-radius: 1.625rem;
        padding: 0 .325rem;
        transition: all .4s ease-in-out;
    }

    &__icon {
        border-radius: 50%;
        background-color: transparent;
        padding: 1.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
}

:host ::ng-deep #first .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-top-left-radius: 1.625rem !important;
    border-bottom-left-radius: 1.625rem !important;
}