<div class="header">
    <div class="header__top">
        <div class="header__logo">
            <img src="../../../assets/img/logo-com-cor-sem-letras.png" alt="Logo do Site Colorida">
        </div>
        <div class="header__title">
            Ybanté
        </div>
        <div class="header__icons">
            <mat-icon>language</mat-icon>
            <div class="header__user-icon">
                <mat-icon>menu</mat-icon>
                <mat-icon>account_circle</mat-icon>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__nav">
            <p class="header__option">Qualquer lugar</p>
            <p class="header__option">|</p>
            <p class="header__option">Qualquer semana</p>
            <p class="header__option">|</p>
            <p class="header__option">Hóspedes</p>
            <mat-icon class="header__search">search</mat-icon>
        </div>
    </div>
</div>