<div class="header">
    <div class="header__top gap-12 flex flex-row justify-between items-center">
        <div class="header__logo w-[180px] sm:w-[220px] md:w-[250px] lg:w-[300px]">
            <img src="../../../assets/img/logo-com-cor-sem-letras.png" alt="Logo do Site Colorida">
        </div>
        <div class="header__title hidden sm:flex sm:text-[2rem] md:text-[2.5rem] lg:text-[4.5rem] mr-[1rem] sm:mr-[2rem]">
            Ybanté
        </div>
        <div class="header__icons mr-[1rem] sm:mr-[2rem]">
            <mat-icon>language</mat-icon>
            <div class="header__accordion">
                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <div class="header__user-icon">
                                <mat-panel-title>
                                    <mat-icon>menu</mat-icon>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <mat-icon>account_circle</mat-icon>
                                </mat-panel-description>
                            </div>
                        </mat-expansion-panel-header>
                        @if (isAuthenticated) {
                            <ul class="header__links">
                                <li class="header__link" routerLink="/user">Meus dados</li>
                                <li class="header__link" routerLink="/user/credit-cards">Cartões</li>
                                <li class="header__link" routerLink="/user/bookings">Reservas</li>
                                <li class="header__link" (click)="logout()">Sair</li>
                            </ul>
                        }
                        @if (!isAuthenticated) {
                            <ul class="header__links">
                                <li class="header__link" routerLink="/login">Login</li>
                                <li class="header__link" routerLink="/login/admin">Login Admin</li>
                            </ul>
                        }
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__nav flex flex-col gap-3 items-center sm:flex-row sm:justify-center lg:top-[-3.5rem]">
            <div class="flex flex-row gap-3">
                <span class="header__option">Qualquer lugar</span>
                <span class="header__option hidden sm:flex">|</span>
                <span class="header__option">Qualquer semana</span>
                <span class="header__option hidden sm:flex">|</span>
                <span class="header__option">Hóspedes</span>
        </div>
    </div>
</div>