@use '../../../../../../../styles/variables' as variables;

.cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 600px;
    overflow: auto;

    &__title {
        line-height: 2.25rem;
        font-weight: 100;
    }

    &__field {
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-size: 1.325rem;
        font-weight: 100;
    }

    &__submit {
        background-color: variables.$green-color;
        color: #fff;
        font-size: 1.25rem;
        padding: 0.825rem 1.75rem;
        border-radius: .5rem;
        position: relative;
        &:active {
            bottom: -1px;
        }
    }

}

:host ::ng-deep .mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-icon-color: #fff;
    --mdc-radio-selected-focus-icon-color: #fff;
    --mdc-radio-selected-hover-icon-color: #fff;
    --mdc-radio-selected-pressed-icon-color: #fff;
    --mat-radio-checked-ripple-color: #fff;
}

:host ::ng-deep .radio.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-icon-color: #2d2109;
    --mdc-radio-selected-focus-icon-color: #2d2109;
    --mdc-radio-selected-hover-icon-color: #2d2109;
    --mdc-radio-selected-pressed-icon-color: #2d2109;
    --mat-radio-checked-ripple-color: #2d2109;
}