<div class="hotel-details">
    <app-header></app-header>
    <div class="container mx-auto">
        <div class="grid grid-cols-4">
            <div class="hotel-details__main">
                <span class="hotel-details__name">hotel ybanté</span>
                <span class="hotel-details__address">📍Rua dos Andradas, 1234 - Centro Histórico, Porto Alegre, Brasil</span>
                <img src=" https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-4.0.3&auto=format&fit=crop&w=1000&q=80" alt="">
                
                <div class="grid grid-cols-3">
                    <img src=" https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-4.0.3&auto=format&fit=crop&w=1000&q=80" alt="">
                    <img src=" https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-4.0.3&auto=format&fit=crop&w=1000&q=80" alt="">
                    <img src=" https://images.unsplash.com/photo-1551882547-ff40c63fe5fa?ixlib=rb-4.0.3&auto=format&fit=crop&w=1000&q=80" alt="">
                </div>
            </div>

            <div class="hotel-details__infos">
                
                <div class="hotel-details__item">
                    
                    <span class="hotel-detail__icon">🏨</span>
                    
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__subtitle">45</span>
                        <span class="hotel-details__text">Quartos e Suítes</span>
                    </div>
                </div>

                <div class="hotel-details__item">
                    <span class="hotel-detail__icon">🏨</span>
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__subtitle">45</span>
                        <span class="hotel-details__text">Quartos e Suítes</span>
                    </div>
                </div>
                <div class="hotel-details__item">
                    <span class="hotel-detail__icon">🏨</span>
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__subtitle">45</span>
                        <span class="hotel-details__text">Quartos e Suítes</span>
                    </div>
                </div>
                <div class="hotel-details__item">
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__text">📞 (51) 3021-8500</span>
                        <span class="hotel-details__text">✉️ reservas%ybante.com.br</span>
                        <span class="hotel-details__text">🌐 www.ybante.com.br</span>
                        <span class="hotel-details__text">🕒 Check-in: 15h | Check-out: 12h</span>1
                    </div>
                </div>
            </div>
        </div>
        <div class="hotel-details__about">
            <span class="text-2xl font-thin">Sobre Este Hotel</span>
            <span class="hotel-details__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum magni pariatur deleniti, ad facilis dolor quae reiciendis explicabo sunt expedita esse neque aspernatur repellat illo cupiditate iste dolorum iure error!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam corporis saepe minima est numquam placeat quaerat vel accusamus recusandae necessitatibus praesentium atque eveniet, ut, nesciunt repellendus vitae dicta sunt animi.
            </span>
            <span class="text-2xl font-thin">Comodidades do Hotel</span>
            <div class="grid grid-cols-4 gap-6">
                <div class="hotel-details__item">
                    <span class="hotel-detail__icon">🏨</span>
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__subtitle">45</span>
                        <span class="hotel-details__text">Quartos e Suítes</span>
                    </div>
                </div>
                <div class="hotel-details__item">
                    <span class="hotel-detail__icon">🏨</span>
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__subtitle">45</span>
                        <span class="hotel-details__text">Quartos e Suítes</span>
                    </div>
                </div>
                <div class="hotel-details__item">
                    <span class="hotel-detail__icon">🏨</span>
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__subtitle">45</span>
                        <span class="hotel-details__text">Quartos e Suítes</span>
                    </div>
                </div>
                <div class="hotel-details__item">
                    <span class="hotel-detail__icon">🏨</span>
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__subtitle">45</span>
                        <span class="hotel-details__text">Quartos e Suítes</span>
                    </div>
                </div>
                <div class="hotel-details__item">
                    <span class="hotel-detail__icon">🏨</span>
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__subtitle">45</span>
                        <span class="hotel-details__text">Quartos e Suítes</span>
                    </div>
                </div>
                <div class="hotel-details__item">
                    <span class="hotel-detail__icon">🏨</span>
                    <div class="flex flex-col gap-3">
                        <span class="hotel-details__subtitle">45</span>
                        <span class="hotel-details__text">Quartos e Suítes</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="hotel-details__rooms">
            <div class="flex flex-col gap-4">
                <span class="hotel-details__subtitle">45</span>
                <span class="hotel-details__text">Quartos e Suítes</span>
            </div>
            <button class="hotel-details__button">Ver todos os quartos</button>
        </div>
    </div>

    <app-footer></app-footer>
</div>
