<div class="pix flex flex-col justify-center items-center text-center md:p-6">
    <span class="hidden md:flex md:text-2xl font-thin mb-4">Escaneie o código QR para pagar</span>
    <div class="flex flex-col gap-4 items-center md:flex-row md:gap-6 mb-4 md:mb-6">
        <span class="text-[.9rem] sm:text-base flex gap-2 sm:gap-4 items-center font-thin"><img class="w-[1.75rem] md:w-[2.375rem]" src="../../../../../assets/img/pix/icon-phone.png">
            Acesse seu app de pagamentos
        </span>
        <span class="text-[.9rem] sm:text-base flex gap-2 sm:gap-4 items-center font-thin"><img class="w-[1.75rem] md:w-[2.375rem]" src="../../../../../assets/img/pix/icon-pix.png">
            Escolha pagar via pix
        </span>
    </div>
    <div class="w-full flex justify-center">
        <span class="text-[.9rem] sm:text-base flex gap-2 sm:gap-4 items-center font-thin"><img class="w-[1.75rem] md:w-[2.375rem]" src="../../../../../assets/img/pix/pix-code.png">
            Escaneie o seguinte código
        </span>
    </div>
    <img src="../../../../../assets/img/pix/qrcode.png" alt="" class="w-[180px] md:w-[250px]">
    <span class="text-[.9rem] sm:text-base flex gap-2 sm:gap-4 items-center font-thin mt-3"><img class="w-[1.75rem] md:w-[2.375rem]" src="../../../../../assets/img/pix/clock.png">
        Pague e será creditado na hora
    </span>
    <div class="border-2 border-gray-300"></div>
    <span class="text-[1.0625rem] md:text-xl font-thin mb-4">Ou copie este código para fazer o pagamento:</span>
    <p class="text-[.9rem] md:text-lg flex flex-col sm:flex-row gap-4 sm:items-center">08979530dfdsf548700ausgaygs000 
        <button [matTooltip]="iconToolTipMessage" (click)="swapIcon($event)" class="flex items-center w-full justify-center sm:w-auto">
            <mat-icon (click)="copyText()" class="cursor-pointer">content_copy</mat-icon>
        </button>
    </p>
</div>