<div class="login auth-form">
    <div class="auth-form__container xl:grid xl:grid-cols-5">
        <div class="auth-form__image hidden xl:block xl:col-span-3 xl:h-[100dvh]">
            <mat-icon class="auth-form__return auth-form__return--login" routerLink="/">west</mat-icon>
            <img class="relative xl:top-[4rem] 2xl:top-0" src="../../../assets/img/logo-com-cor-sem-letras.png" alt="Logo do Site Colorido">
        </div>
        <div class="auth-form__content xl:col-span-2 min-h-[100dvh]">
            <mat-icon class="auth-form__return auth-form__return--login auth-form__return--white" routerLink="/">west</mat-icon>
            <img src="../../../assets/img/logo-branca.png" alt="Logo do Site na cor Branca" class="auth-form__logo">
            <h2 class="auth-form__title">Formulário de Login</h2>
            <form class="auth-form__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input class="auth-form__input" type="text" placeholder="E-mail" formControlName="email">
                <div class="auth-form__error" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.hasError('required')">Campo obrigatório</div>
                </div>
                <input class="auth-form__input" type="password" placeholder="Senha" formControlName="password">
                <div class="auth-form__error" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.hasError('required')">Campo obrigatório</div>
                </div>
                <div class="w-full flex justify-end">
                    <a class="auth-form__link" routerLink="/forgot-password">Esqueci minha senha</a>
                </div>
                <div class="auth-form__error">
                    <div *ngIf="loginForm.hasError('invalidCredentials')">Credencias inválidas</div>
                    <div *ngIf="loginForm.hasError('accountNotActivated')">Conta do Usuário ainda não foi ativada</div>
                    <div *ngIf="loginForm.hasError('serverError')">Ocorreu um erro inesperado. Tente novamente mais tarde</div>
                </div>
                <button class="auth-form__button">Entrar</button>
            </form>
            <p class="auth-form__router">Ainda não tem uma conta? <a class="auth-form__link" routerLink="/register">Cadastre-se</a></p>
        </div>
    </div>
</div>
