<div class="user-infos">
    <div class="user-infos__header">
        <mat-icon class="user-infos__icon">account_circle</mat-icon>
        <div class="user-infos__profile">
            <span class="user-infos__fullname">Guti</span>
            <span class="user-infos__email">{{' Guti@gmail.com' }}</span>
            <div class="user-infos__created-at">28/09/2025</div>
        </div>
    </div>
    <div class="border-2 border-gray-300 w-full my-4"></div>
    <div class="grid grid-cols-2 gap-4">
        <div class="user-infos__item">
            <span class="user-infos__subtitle">Nome</span>
            <span class="user-infos__text">Guti</span>
        </div>
         <div class="user-infos__item">
            <span class="user-infos__subtitle">Nome</span>
            <span class="user-infos__text">Guti</span>
        </div>
         <div class="user-infos__item">
            <span class="user-infos__subtitle">Nome</span>
            <span class="user-infos__text">Guti</span>
        </div>
         <div class="user-infos__item">
            <span class="user-infos__subtitle">Nome</span>
            <span class="user-infos__text">Guti</span>
        </div>
         <div class="user-infos__item">
            <span class="user-infos__subtitle">Nome</span>
            <span class="user-infos__text">Guti</span>
         </div>
          <div class="user-infos__item">
            <span class="user-infos__subtitle">Nome</span>
            <span class="user-infos__text">Guti</span>
        </div>
    </div>
    <div class="w-full py-3 flex gap-4">
        <button class="user-infos__button user-infos__button--light-brown">Editar Dados</button>
        <button class="user-infos__button user-infos__button--dark-brown">Alterar Senha</button>
    </div>
</div>