@use '../styles/variables' as variables;

.auth-form {

    &__content {
        background-color: variables.$green-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: relative;
    }

    &__logo {
        width: 100px;
    }

    &__title {
        font-size: 2rem !important;
        color: #fff;
        text-align: center;
    }

    &__form {
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__input {
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 3px solid #fff;
        padding: .75rem;
        font-size: 1.125rem;
        color: #fff;
        &::placeholder {
            color: #bdbdbd;
        }
        &:focus {
            box-shadow: 4px 15px 10px -15px #ffffff;   
        }
        &--dark-brown {
            border-color: variables.$light-brown-color;
            &:focus {
                box-shadow: 4px 15px 10px -15px variables.$light-brown-color;   
            }
        }
    }

    &__error {
        color: #ff5151;
        font-size: 1rem;
        &--dark-brown {
            color: variables.$dark-brown-color;
        }
    }

    &__button {
        margin-top: 1.25rem;
        background-color: variables.$light-color;
        border-radius: 2.25rem;
        padding: .8rem 1.25rem;
        position: relative;
        font-size: 1.25rem;
        color: variables.$dark-brown-color;
        &:active {
            bottom: -1px;
        }
        &--light-brown {
            background-color: variables.$light-brown-color;
            color: #fff;
        }
    }

    &__router {
        font-size: 1.1rem;
    }

    &__link {
        font-size: 1.1rem;
        cursor: pointer;
        color: variables.$light-color;
        &:hover {
            text-decoration: underline;
        }
    }

    &__return {
        position: absolute;
        top: 2rem;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
        z-index: 10000;
        cursor: pointer;
        transition: transform .3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        &--login {
            left: 2rem;
        }
        &--register {
            right: 2rem;
        }  
        &--white {
            color: #fff;
            display: flex;
        }
    }

    &__image {
        position: relative;
        overflow: hidden;
    }

}

@media (min-width: 1280px) {
    .auth-form__return--white {
        display: none !important;
    }
}