@use '../../../../../../../styles/variables' as variables;

.room-rating {
    display: flex;
    flex-direction: column;
    border: 1px solid variables.$light-brown-color;
    border-radius: 1rem;

    &__header {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        padding: 1.25rem;
        background-color: variables.$light-brown-color;
        font-size: 1.1rem;
        color: #fff;
    }

    &__body {
        padding: 1.25rem;
        font-size: 1.2rem;
    }

    &__rating {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
    }

    &__star {
        width: 1.5rem;
        height: 1.5rem;
        color: #e3e310;
    }

}