<div class="aside-menu">
    <div class="aside-menu__profile">
        <mat-icon class="aside-menu__icon aside-menu__icon--user">account_circle</mat-icon>
        <div class="w-full flex flex-col items-center text-center gap-2 pt-2">
            <span class="aside-menu__text aside-menu__text--bold">{{ userFullName }}</span>
            <span class="aside-menu__text">{{ isAdmin ? 'Gerente' : 'Funcionário'  }}</span>
        </div>
    </div>
    <aside class="aside-menu__container">
        <ul class="aside-menu__list">
            <li class="aside-menu__link" routerLink="/admin/dashboard" routerLinkActive="aside-menu__link--active">
                <mat-icon class="aside-menu__icon">analytics</mat-icon>
                <span class="aside-menu__text">Dashboard</span>
            </li>
            <li class="aside-menu__link" routerLink="/admin/bookings" routerLinkActive="aside-menu__link--active">
                <mat-icon class="aside-menu__icon">calendar_month</mat-icon>
                <span class="aside-menu__text">Gestão de Reservas</span>
            </li>
            <li *ngIf="isAdmin" class="aside-menu__link" routerLink="/admin/hotels" routerLinkActive="aside-menu__link--active">
                <mat-icon class="aside-menu__icon">apartment</mat-icon>
                <span class="aside-menu__text">Gestão de Hotéis</span>
            </li>
            <li class="aside-menu__link" routerLink="/admin/rooms" routerLinkActive="aside-menu__link--active">
                <mat-icon class="aside-menu__icon">room_preferences</mat-icon>
                <span class="aside-menu__text">Gestão de Quartos</span>
            </li>
            <li class="aside-menu__link" routerLink="/admin/users" routerLinkActive="aside-menu__link--active">
                <mat-icon class="aside-menu__icon">groups</mat-icon>
                <span class="aside-menu__text">Gestão de Usuários</span>
            </li>
        </ul>
    </aside>
    <div class="aside-menu__link aside-menu__link--logout" (click)="logout()">
        <mat-icon class="aside-menu__icon">logout</mat-icon>
        <span class="aside-menu__text">Logout</span>
    </div>
</div>
