<div class="room-details-footer">
    <div class="container mx-auto">
        <h3 class="room-details-footer__title">O que você deve saber</h3>
        <div class="room-details-footer__body">
            <div class="grid grid-cols-3 gap-12">
                <div class="room-details-footer__infos">
                    <p class="room-details-footer__subtitle">Regras da Casa</p>
                    <ul class="room-details-footer__list">
                        <li class="room-details-footer__item">Check-In após 15h00</li>
                        <li class="room-details-footer__item">Check-Out após 11h00</li>
                        <li class="room-details-footer__item">Máximo de {{ capacity }} {{ capacity == 1 ? 'hóspede' : 'hóspedes' }}</li>
                    </ul>
                    <p class="room-details-footer__link">Mostrar mais ></p>
                </div>
                <div class="room-details-footer__infos">
                    <p class="room-details-footer__subtitle">Segurança e Propriedade</p>
                    <ul class="room-details-footer__list">
                        <li class="room-details-footer__item">Alarme de Monóxido de Carbono não informado</li>
                        <li class="room-details-footer__item">Detector de Fumaça</li>
                    </ul>
                    <p class="room-details-footer__link">Mostrar mais ></p>
                </div>
                <div class="room-details-footer__infos">
                    <p class="room-details-footer__subtitle">Política de Cancelamento</p>
                    <ul class="room-details-footer__list">
                        <li class="room-details-footer__item">Esta reserva não é reembolsável</li>
                        <li class="room-details-footer__item">Consulte a política completa deste hotel para saber mais</li>
                    </ul>
                    <p class="room-details-footer__link">Mostrar mais ></p>
                </div>
                <div class="room-details-footer__infos">
                    <p class="room-details-footer__subtitle">Atendimento</p>
                    <ul class="room-details-footer__list">
                        <li class="room-details-footer__item">Central de ajuda</li>
                        <li class="room-details-footer__item">AirCover</li>
                        <li class="room-details-footer__item">Antidiscriminação</li>
                        <li class="room-details-footer__item">Apoio à pessoa com deficiência</li>
                        <li class="room-details-footer__item">Opções de Cancelamento</li>
                        <li class="room-details-footer__item">Reporte um problema neste quarto ou hotel</li>
                    </ul>
                    <p class="room-details-footer__link">Mostrar mais ></p>
                </div>
                <div class="room-details-footer__infos">
                    <p class="room-details-footer__subtitle">Hospedagem</p>
                    <ul class="room-details-footer__list">
                        <li class="room-details-footer__item">Fórum da Comunidade</li>
                        <li class="room-details-footer__item">Hospedagem responsável</li>
                    </ul>
                    <p class="room-details-footer__link">Mostrar mais ></p>
                </div>
            </div>
        </div>
    </div>
</div>