<div class="main">
    <app-header></app-header>
    <div class="main__content">
        <span class="main__title">Sobre nós</span>
        <span class="main__subtitle">Raizes</span>
        <span class="main__text">O Ybante nasceu da conexão com as raízes. Nosso nome carrega a força e a fluidez da cultura indígena, celebrando a harmonia com a natureza, a sabedoria ancestral e o respeito à terra. Mais do que um hotel, somos um refúgio onde o conforto moderno encontra a essência do Brasil original. Cada espaço, cada detalhe, ecoa o espírito de acolhimento, liberdade e pertencimento. No Ybante, você é convidado a viver com intensidade, leveza e verdade.</span>
        </div>
</div>
