.stars-rating {
    display: flex;
    gap: .325rem;
    
    &__star {
        width: 2rem;
        height: 2rem;
    }

    &--yellow {
        color: #ffff39;
    }

    &--green {
        color: #698167;
    }

}

