<div class="auth-form">
    <div class="auth-form__container xl:grid xl:grid-cols-5">
        <div class="auth-form__image hidden xl:block xl:col-span-3 xl:h-[100dvh]">
            <mat-icon class="auth-form__return auth-form__return--login" routerLink="/">west</mat-icon>
            <img class="relative xl:top-[4rem] 2xl:top-0" src="../../../assets/img/logo-com-cor-sem-letras.png" alt="">
        </div>
        <div class="auth-form__content xl:col-span-2 min-h-[100dvh]">
            <mat-icon class="auth-form__return auth-form__return--login auth-form__return--white" routerLink="/">west</mat-icon>
            <img class="auth-form__logo" src="../../../assets/img/logo-branca.png" alt="logo do site cor branco">
            <h2 class="auth-form__title">Definir nova senha</h2>
            <form class="auth-form__form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <input placeholder="Digite o código" type="text" class="auth-form__input" formControlName="code">
                <div *ngIf="code.invalid && (code.touched || code.dirty)" class="auth-form__error">
                    <div *ngIf="code.hasError('required')">Campo obrigatório</div>
                    <div *ngIf="code.hasError('expired')">O código de recuperação expirou.</div>
                    <div *ngIf="code.hasError('notFound')">Nenhum código de recuperação foi encontrado</div>
                </div>
                <input placeholder="Digite uma nova senha" type="password" class="auth-form__input" formControlName="password">
                <div class="auth-form__error" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.hasError('required')">Campo obrigatório</div>
                    <div *ngIf="password.hasError('minlength')">Senha deve ter no mínimo 8 caracteres</div>
                    <div *ngIf="password.hasError('noUpperCaseLetter')">Senha deve ter no mínimo 1 letra maiúscula</div>
                    <div *ngIf="password.hasError('noLowerCaseLetter')">Senha deve ter no mínimo 1 letra minúscula</div>
                    <div *ngIf="password.hasError('noNumber')">Senha deve ter no mínimo 1 número</div>
                    <div *ngIf="password.hasError('noSpecialChar')">Senha deve ter no mínimo 1 caractere especial</div>
                </div>
                <input placeholder="Confirme a sua nova senha" type="password" class="auth-form__input" formControlName="passwordConfirmation">
                <div class="auth-form__error" *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)">
                    <div *ngIf="passwordConfirmation.hasError('required')">Campo obrigatório</div>
                    <div *ngIf="passwordConfirmation.hasError('passwordMismatch')">As senhas devem ser iguais</div>
                </div>
                <div class="auth-form__error" *ngIf="resetPasswordForm.hasError('invalidData')">Dados Inválidos. Revise-os e tente novamente</div>
                <div class="auth-form__error" *ngIf="resetPasswordForm.hasError('serverError')">Ocorreu um erro inesperado. Tente novamente mais tarde</div>
                <button class="auth-form__button">Concluir</button>
            </form>
        </div>
    </div>
</div>